main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#voltage-chart {
    grid-column: 1;
    grid-row: 1;
}
#fft-chart {
    grid-column: 1;
    grid-row: 2;
}